* {
    margin: 0;
    padding: 0;
}

.ClockContainer {
    position: relative;
    margin: auto;
    background-image: url(clock.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 45vw;
    width: 45vw;
    /* height: 614px; */
    /* width:614px; */
    border: 2px solid black;
    margin-top: 12px;
}

#Hour,
#Minute,
#Second {
    position: absolute;
    transform-origin: bottom;
}


#Hour {
    background-color: black;
    height: 11%;
    left: 48.2%;
    width: 2.3%;
    top: 44.4%;
    border-radius: 12px;
    /* display: none; */

}

#Minute {
    background-color: black;
    height: 17%;
    width: 2%;
    top: 38.4%;
    left: 48.31%;
    border-radius: 19px;
}

#Second {
    background-color: black;
    height: 24.3%;
    width: 1%;
    top: 30.8%;
    left: 48.80%;
    border-radius: 3px;
    /* display: none;  */
}